<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/chat.css" />
  <title>Chatroom</title>
</head>
<body>
  <%- include('partials/header.ejs') %>
  <%- include('partials/navbar.ejs') %>
  <main id="chat"class="container" hx-ws="connect:wss:/chatroom">
    <h1>ChatRoom</h1>
    <div id="chat-room">
      <div id="chat-screen">
        <ul id="messages"></ul>
      </div>
      <form class="message-form" hx-ws="send:submit">
        <input
          id="message-box" 
          type="text"
          class="form-control" 
          name="message" 
        />
        <button on type="submit">Send</button>
      </form>
    </div>
  </main>
</body>
</html>