<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" type="text/css" href="css/main.css" />
</head>
<body>
  <%- include('partials/header.ejs') %>
  <%- include('partials/navbar.ejs') %>
  <main class="container">
    <h1>Home</h1>
    <button onclick={pingServer()} id="btn">Test API Server</button>
    <div id="output"></div>
  </main>
  <%- include('scripts/pingServer.ejs') -%>
</body>
</html>