<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Chatroom</title>
</head>
<body>
  <%- include('partials/header.ejs') %>
  <%- include('partials/navbar.ejs') %>
  <main id="chat"class="container" hx-ws="connect:wss:/chatroom">
    <h1>ChatRoom</h1>
    <div id="chat_room">
      
    </div>
    <form hx-ws="send:submit">
      </h1>
      <input 
        class="form-control" 
        name="chat_messages" 
      />
      <input 
       
      />
      <button on type="submit">Send</button>
    </form>
  </main>
</body>
</html>