.container {
  display: flex;
  flex-direction: column;
  place-items: center;
}
.todo-item {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.todo-data {
  margin: 10px;
}
.todo-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form-control {
  width: 200px;
}
#desc-control {
  height: 100px;
  margin-left: 5px;
}
#title-control {
  margin-left: 46px;
}
.row {
  display: flex;
  flex-direction: row;
}
#submit-btn {
  margin-top: 20px;
  width: 100px;
}
